import { StatusBar } from 'expo-status-bar';
import { Text, View } from 'react-native';

export default function App() {
  return (
    <View className="flex-1 items-center justify-center bg-white">
      <Text className="text-2xl font-bold">{{ project_name }}</Text>
      <Text className="text-gray-500 mt-2">{{ description }}</Text>
      <StatusBar style="auto" />
    </View>
  );
}
