{
  "name": "@{{ scope }}/mobile",
  "version": "0.0.1",
  "private": true,
  "description": "{{ description }}",
  "scripts": {
    "start": "expo start",
    "ios": "expo start --ios",
    "android": "expo start --android",
    "web": "expo start --web"
  },
  "dependencies": {
    "expo": "~51.0.0",
    "expo-status-bar": "~1.12.0",
    "react": "18.2.0",
    "react-native": "0.74.5",
    "nativewind": "^2.0.11"
  },
  "devDependencies": {
    "@babel/core": "^7.24.0",
    "@types/react": "~18.2.0",
    "tailwindcss": "^3.4.16",
    "typescript": "^5.7.2"
  }
}
